<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- ds-->
	<bean id="DataSourceBean" class="cn.com.sgcc.ds.DataSourceImpl">
		<property name="driver" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/ac"/>
		<property name="user" value="root"/>
		<property name="password" value="zmxncbv"/>
	</bean>

	<!-- dao -->
	<bean id="UserDaoBean" class="cn.com.sgcc.dao.UserDaoImpl">
		<property name="dataSource" ref="DataSourceBean"/>
	</bean>
	<bean id="ResourceDaoBean" class="cn.com.sgcc.dao.ResourceDaoImpl">
		<property name="dataSource" ref="DataSourceBean"/>
	</bean>
	<bean id="IpRangeDaoBean" class="cn.com.sgcc.dao.IpRangeDaoImpl">
		<property name="dataSource" ref="DataSourceBean"/>
	</bean>

	<!-- db -->
	<bean id="DatabaseLayerBean" class="cn.com.sgcc.db.DatabaseLayer">
		<property name="userDao" ref="UserDaoBean"/>
		<property name="resourceDao" ref="ResourceDaoBean"/>
		<property name="ipRangeDao" ref="IpRangeDaoBean"/>
	</bean>

	<!-- ac -->
	<bean id="AccessControlBean" class="cn.com.sgcc.ac.AccessControlImpl">
		<property name="databaseLayer" ref="DatabaseLayerBean"/>
	</bean>

</beans>
