<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- 配置数据源 -->
    
   
    
     <bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://localhost:1433; DatabaseName=test"/>
        <property name="username" value="sa"/>
        <property name="password" value="123321"/>
    </bean>
    
  <!--根据dataSource和configLocation创建一个SqlMapClient-->
    <bean id="sqlMapClient"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>classpath:/com/vstsoft/sqlmap/SqlMapConfig.xml</value>
        </property>
        <property name="dataSource">
            <ref bean="myDataSource"/>
        </property>
    </bean>
    
    
	
	<bean id="sdao" class="com.vstsoft.dao.impl.StudentDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="ss" class="com.vstsoft.service.impl.StudentServiceImpl">
		<property name="sdao" ref="sdao"/>
	</bean>
	
	<bean id="jiedao" class="com.vstsoft.dao.impl.JiesuanDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="jie" class="com.vstsoft.service.impl.JiesuanServiceImpl">
		<property name="jiedao" ref="jiedao"/>
	</bean>
	
	<bean id="tjdao" class="com.vstsoft.dao.impl.TjxmDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="tj" class="com.vstsoft.service.impl.TjxmServiceImpl">
		<property name="tjdao" ref="tjdao"/>
	</bean>
	
	<bean id="ridao" class="com.vstsoft.dao.impl.RibaoDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="ri" class="com.vstsoft.service.impl.RibaoServiceImpl">
		<property name="ridao" ref="ridao"/>
	</bean>
	
	
	<bean id="userDao" class="com.vstsoft.dao.impl.UserDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="loginService" class="com.vstsoft.service.impl.LoginServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	
	
	    <!--初始化user对象-->

    <bean id="student" class="com.vstsoft.model.Student"></bean>
    <bean id="studentAction" class="com.vstsoft.action.StudentAction" scope="prototype">
    	<property name="ss" ref="ss"/>

    </bean>
     <bean id="jiesuan" class="com.vstsoft.model.Jiesuan"></bean>
    <bean id="jiesuanAction" class="com.vstsoft.action.JiesuanAction" scope="prototype">
    	<property name="jie" ref="jie"/>
 
    </bean>
    
    <bean id="tjxm" class="com.vstsoft.model.Tjxm"></bean>
     <bean id="tongji" class="com.vstsoft.model.Tongji"></bean>
     <bean id="tjdj" class="com.vstsoft.model.Tjdj"></bean>
    <bean id="tjxmAction" class="com.vstsoft.action.TjxmAction" scope="prototype">
    	<property name="tj" ref="tj"/>
 </bean>
    
         <bean id="ribao" class="com.vstsoft.model.Ribao"></bean>
    <bean id="ribaoAction" class="com.vstsoft.action.RibaoAction" scope="prototype">
    	<property name="ri" ref="ri"/>
    	 </bean>
    	
    	 <bean id="user" class="com.vstsoft.model.User"></bean>
    <bean id="loginAction" class="com.vstsoft.action.LoginAction" scope="prototype">
    	<property name="loginService" ref="loginService"/>
 </bean>
   
</beans>